!!! 5
%head
  %meta{"charset" => "utf-8"}
  %title FeedBurner Ping Service
  %link{"rel" => "stylesheet", "href" => url("/css/bootstrap.min.css"), "type" => "text/css"}
  %link{"rel" => "stylesheet", "href" => url("/css/main.css"), "type" => "text/css"}
  %link{"rel" => "stylesheet", "href" => "http://yandex.st/highlightjs/6.1/styles/solarized_dark.min.css", "type" => "text/css"}
  %link{"rel" => "stylesheet", "href" => "http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Ubuntu:400,700", "type" => "text/css"}
  %script{"type" => "text/javascript", "src" => "http://yandex.st/highlightjs/6.1/highlight.min.js"}
  %script{"type" => "text/javascript"}
    hljs.initHighlightingOnLoad();
%body
  <a href="http://github.com/clementi/FeedBurner-Pinger"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
  .jumbotron
    .container
      %h1 FeedBurner Ping Service
  .description
    .container
      .row
        .span12
          :markdown
            Use this endpoint to ping [FeedBurner](http://feedburner.google.com/). Make a POST request to it with a parameter of `url=[your FeedBurner feed URL]` to ping FeedBurner with updates to your feed, like this (Ruby):
            <pre><code class="ruby">endpoint = URI('http://feedburner-pinger.herokuapp.com/')
            feed_url = 'http://feeds.feedburner.com/MyFeed'
            response = Net::HTTP.post_form endpoint, {:url => feed_url}
            </code></pre>
      .row
        .span6
          :markdown
            When you make a successful request, you'll get this JSON response:
            <pre><code class="javascript">{
              "status": "SUCCEEDED",
              "message": "Successfully pinged"
            }</code></pre>
        .span6
          :markdown
            If you make a request too soon after your last one, you'll get this JSON response:
            <pre><code class="javascript">{
              "status": "THROTTLED",
              "message": "Ping is throttled"
            }</code></pre>
      .row
        .span12
          :markdown
            If something went wrong, you'll get this JSON response:
            <pre><code class="javascript">{
              "status": "FAILED",
              "message": "Your Ping resulted in an Error"
            }</code></pre>
  %footer
    .container
      Created by
      %a{"href" => "http://jeffreypratt.net/notes/2012/03/08/feedburners-missing-api.html"} Jeffrey Pratt.
  %script{"type" => "text/javascript", "src" => url("/js/google-analytics.js")}
