!!! 5
%head
	%title FBPing
	%link{"rel" => "stylesheet", "href" => "/style/bootstrap.min.css", "type" => "text/css"}
	%link{"rel" => "stylesheet", "href" => "/style/main.css", "type" => "text/css"}
%body
	%p
		:markdown
			Use this endpoint to ping FeedBurner. Make a POST request to it with a parameter of `url=[your FeedBurner feed URL]` to ping FeedBurner with updates to your feed.