!!! 5
%head
  %meta{"charset" => "utf-8"}
  %title FeedBurner Ping Service
  %link{"rel" => "stylesheet", "href" => url("/css/bootstrap.min.css"), "type" => "text/css"}
  %link{"rel" => "stylesheet", "href" => url("/css/main.css"), "type" => "text/css"}
  %script{"type" => "text/javascript", "src" => url("/js/google-analytics.js")}
%body
  .jumbotron
    .container
      %h1 FeedBurner Ping Service
  .description
    .container
      :markdown
        Use this endpoint to ping FeedBurner. Make a POST request to it with a parameter of `url=[your FeedBurner feed URL]` to ping FeedBurner with updates to your feed.

        When you make a successful request, you'll get this JSON response:
        <pre><code>{
          "status": "SUCCEEDED",
          "message": "Successfully pinged"
        }</code></pre>

        If you make a request too soon after your last one, you'll get this JSON response:
        <pre><code>{
          "status": "FAILED",
          "message": "Ping is throttled"
        }</code></pre>

        If something went wrong, you'll get this JSON response:
        <pre><code>{
          "status": "FAILED",
          "message": "Your Ping resulted in an Error"
        }</code></pre>