body {
	padding: 30px;
}
body, p {
    font-size: 16px;
    font-family: Ubuntu, sans-serif;
}
pre, code {
    font-size: 16px;
    font-family: 'Ubuntu Mono', monospace;
}
.jumbotron {
	text-align: center;
}
.jumbotron h1 {
	font-size: 52px;
}
.description {
	margin-top: 40px;
}