body {
	padding: 30px;
}
body, p {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.2em;
}
pre, code {
    font-size: 14px;
    font-family: 'Source Code Pro', monospace;
}
.jumbotron {
	text-align: center;
}
.jumbotron h1 {
	font-size: 52px;
}
.description {
	margin-top: 40px;
}
footer {
    text-align: center;
    font-size: 14px;
}
